/*-- scss:defaults --*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;500;600;700&display=swap");
$font-family: "Noto Serif SC", serif;
$headings-font-weight:  600 !default;

/*-- scss:rules --*/

/*h1, h2, h3, h4, h5, h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}*/
