/*-- scss:defaults --*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;600;700&display=swap");
$font-family: "Noto Serif SC", serif;
$headings-font-weight:  600;

$body-bg: #17181a;
$navbar-bg: $body-bg;
$link-color: #d0d3d8;
$link-hover-color: #d0d3d8;

/*-- scss:rules --*/
.content {
  background: #1f2022;
  color: #d0d3d8;
}

.hyper-link::after {
  background-color: #d0d3d8;
}
