/*-- scss:defaults --*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;600;700&display=swap");
$font-family: "Noto Serif SC", serif;
$headings-font-weight:  600;

$body-bg: #fafafa;
$navbar-bg: $body-bg;

