
p {
  font-size: 11pt;
}

table {
  margin-top: 2em;
}

tr {
  height: 2.25em;
}

th {
  width: 12em;
  font-weight: 300;
}

td>p {
  margin-bottom: -1px;
  font-weight: 300;
}

.title {
  display: none;
}

#body-header {
  position: relative;
  margin-top: 35px;
  margin-bottom: -40px;
}

#body-header-category {
  font-size: 13pt;
  text-indent: 0.25em;
}

#body-header-link {
  font-size: 11pt;
  top: 7.5%;
  right: 0.5%;
}

/*for phone*/
@media screen and (max-width:480px) {
  table {
    margin: 1em -0.5em;
  }
  
  .quarto-layout-panel {
    margin: 0 -0.5em;
  }

  .quarto-layout-cell {
    margin: 0.3em 0;
  }

  #body-header-category {
  text-indent: -0.3em;
  }

  #body-header-link {
    right: -1%;
  }
}
